streamlit
openai
replicate
PyPDF2
bcrypt
python-dotenv
cassio
langchain-community
langchain-groq
unstructured
pdfminer.six
pi-heif
unstructured-inference
sentence-transformers
langchain-huggingface
openai==0.28
openpyxl
google-generativeai
langchain-google-genai
langchain-openai